.graph {
	background-color: #ffffff;
	opacity: 0.8;
	background-image:  linear-gradient(#ffbec9 1.7000000000000002px, transparent 1.7000000000000002px), linear-gradient(to right, #ffbec9 1.7000000000000002px, #ffffff 1.7000000000000002px);
	background-size: 34px 34px;
	color: #592939;

	font-family: 'Montserrat', sans-serif;
}

.graph h1, .graph h2, .graph h3, .graph h4, .graph h5, .graph h6 {
	font-family: 'Bebas Neue', cursive;
}
